*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, #root {
  height: 100%;
  width: 100%;
}
html{

  font-family: Arial, sans-serif;
  background-color: #727272;
}


.notes{
  display: flex;
  gap: 1.5rem;
  padding: 2rem;
}

.note{
  background-color: #b6b2b2;
  padding: 1rem;
  border-radius: 0.7rem;
  max-width: 15rem;
  color: white;
  gap:1rem;
  /* display: flex; */
  /* flex-direction: column; */
}

.note-create-form{
  display: flex;
  padding-inline: 2rem;
  padding-block: 1rem;
  gap: 1rem;
}
.delete{
  margin: 0.5rem 1rem 0 0;
}